<ion-content>
  <form
    [formGroup]="counterSettingsForm"
    (ngSubmit)="submit()"
    (ionChange)="submit()"
  >
      <ion-list>
        <ion-item-group>

          <ion-item>
            <ion-label position="stacked">Title</ion-label>

            <ion-input
              required
              formControlName="title"
              type="text"
              placeholder="my Counter"
              class="title-input"
              #titleInput
            ></ion-input>
          </ion-item>

          <ion-item
            [hidden]="!appState.vibrate"
            class="vibrate-checkbox"
          >
            <ion-icon slot="start" name="pulse-outline"></ion-icon>
            <ion-label>Vibrate</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="vibrate"
            >
            </ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-icon
              slot="start"
              name="{{ (counter.locked) ? 'lock-closed-outline' : 'lock-open-outline' }}"
            ></ion-icon>
            <ion-label>Locked</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="locked"
            >
            </ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-icon
              slot="start"
              name="phone-portrait-outline"
            ></ion-icon>
            <ion-label>Add to Home Screen</ion-label>
            <ion-checkbox
              slot="end"
              appNotImplemented description="Add counter widget to home screen" issueId="2" on="click"
            >
            </ion-checkbox>
          </ion-item>
        </ion-item-group>

        <ion-item-divider
            color="success"
        >
          <ion-icon
            name="add-circle-outline"
          ></ion-icon>
        </ion-item-divider>

        <ion-item-group>

          <ion-item>

            <ion-icon
              slot="start"
              name="add"
              (click)="increment('plusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="plusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('plusCount')"
            >
            </ion-input>

          </ion-item>

          <ion-item>

            <ion-icon
              slot="start"
              name="code-download-outline"
              class="rotate-180"
            ></ion-icon>

            <ion-label>Limit</ion-label>

            <ion-checkbox
              slot="end"
              formControlName="positiveLimitActive"
            >
            </ion-checkbox>

          </ion-item>

          <ng-template [ngIf]="this.counter.positiveLimitActive">
              <ion-item>

                <ion-icon
                  slot="start"
                  name="add"
                  (click)="increment('positiveLimit')"
                >
                </ion-icon>

                <ion-input
                  required
                  formControlName="positiveLimit"
                  type="number"
                  placeholder="0"
                  (ionChange)="
                    clamp('positiveLimit', 1);
                    check('positiveLimitActive');
                  "
                >
                </ion-input>

              </ion-item>
          </ng-template>
        </ion-item-group>

        <ion-item-divider
            color="danger"
        >
          <ion-icon
            name="remove-circle-outline"
          ></ion-icon>
        </ion-item-divider>

        <ion-item-group>

          <ion-item>

            <ion-icon
              slot="start"
              name="remove"
              (click)="increment('minusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="minusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('minusCount')"
            >
            </ion-input>
          </ion-item>

          <ion-item>

            <ion-icon
              slot="start"
              name="code-download-outline"
            ></ion-icon>

            <ion-label>Limit</ion-label>

            <ion-checkbox
              slot="end"
              formControlName="negativeLimitActive"
            >
            </ion-checkbox>

          </ion-item>

          <ng-template [ngIf]="this.counter.negativeLimitActive">
            <ion-item>

              <ion-icon
                slot="start"
                name="remove"
                (click)="increment('negativeLimit')"
              >
              </ion-icon>

              <ion-input
                required
                formControlName="negativeLimit"
                type="number"
                placeholder="0"
                (ionChange)="
                  clamp('negativeLimit', 1);
                  check('negativeLimitActive');
                "
              >
              </ion-input>

            </ion-item>
          </ng-template>
        </ion-item-group>

      </ion-list>

  </form>
</ion-content>
