<ion-content>
  <form
    [formGroup]="counterSettingsForm"
    (ngSubmit)="submit()"
    (ionChange)="submit()"
  >
      <ion-list>

          <ion-list-header>
            <ion-label>Title</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input
              required
              formControlName="title"
              type="text"
              placeholder="my Counter"
              class="title-input"
              #titleInput
            ></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Plus Count</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="add"
              (click)="increment('plusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="plusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('plusCount')"
            >
            </ion-input>

          </ion-item>

          <ion-list-header>
            <ion-label>Minus Count</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="remove"
              (click)="increment('minusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="minusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('minusCount')"
            >
            </ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Positive Wraparound</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="add"
              (click)="increment('positiveWrapAround')"
            >
            </ion-icon>

            <ion-input
              required
              formControlName="positiveWrapAround"
              type="number"
              placeholder="0"
              (ionChange)="
                clamp('positiveWrapAround', 1);
                check('positiveWrapAroundActive');
              "
            >
            </ion-input>

            <ion-checkbox
              slot="end"
              formControlName="positiveWrapAroundActive"
            >
            </ion-checkbox>

          </ion-item>

          <ion-list-header>
            <ion-label>Negative Wraparound</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="remove"
              (click)="increment('negativeWrapAround')"
            >
            </ion-icon>

            <ion-input
              required
              formControlName="negativeWrapAround"
              type="number"
              placeholder="0"
              (ionChange)="
                clamp('negativeWrapAround', 1);
                check('negativeWrapAroundActive');
              "
            >
            </ion-input>

            <ion-checkbox
              slot="end"
              formControlName="negativeWrapAroundActive"
            >
            </ion-checkbox>

          </ion-item>

          <ion-item
            [hidden]="!appState.vibrate"
            class="vibrate-checkbox"
          >
            <ion-icon slot="start" name="pulse"></ion-icon>
            <ion-label>Vibrate</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="vibrate"
            >
            </ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-icon
              slot="start"
              name="{{ (counter.locked) ? 'lock-closed-outline' : 'lock-open-outline' }}"
            ></ion-icon>
            <ion-label>Locked</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="locked"
            >
            </ion-checkbox>
          </ion-item>

          <ion-item-sliding>

            <ion-item>
              <ion-icon slot="start" name="trash"></ion-icon>
              <ion-label>Delete</ion-label>
              <ion-icon slot="end" name="arrow-back"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                color="danger"
                (click)="deleteCounter()"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

      </ion-list>

      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-button
              size="large"
              expand="full"
              color="medium"
              appNotImplemented description="Convert to binary counter" issueId="13" on="click"
            >
              <ion-icon name="sync"></ion-icon>
              Make binary
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-button
              size="large"
              expand="full"
              appNotImplemented description="Add counter widget to home screen" issueId="2" on="click"
            >
              <ion-icon name="phone-portrait"></ion-icon>
              To Home Screen
            </ion-button>

          </ion-col>
        </ion-row>

      </ion-grid>

  </form>
</ion-content>
