<ion-content>
  <form
    [formGroup]="counterSettingsForm"
    (ngSubmit)="submit()"
    (ionChange)="submit()"
  >
      <ion-list>

          <ion-list-header>
            <ion-label>Title</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input
              required
              formControlName="title"
              type="text"
              placeholder="my Counter"
              class="title-input"
              #titleInput
            ></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Plus Count</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="add"
              (click)="increment('plusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="plusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('plusCount')"
            >
            </ion-input>

          </ion-item>

          <ion-list-header>
            <ion-label>Minus Count</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="remove"
              (click)="increment('minusCount')"
            ></ion-icon>

            <ion-input
              required
              formControlName="minusCount"
              type="number"
              placeholder="0"
              (ionChange)="clamp('minusCount')"
            >
            </ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Positive Limit</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="add"
              (click)="increment('positiveLimit')"
            >
            </ion-icon>

            <ion-input
              required
              formControlName="positiveLimit"
              type="number"
              placeholder="0"
              (ionChange)="
                clamp('positiveLimit', 1);
                check('positiveLimitActive');
              "
            >
            </ion-input>

            <ion-checkbox
              slot="end"
              formControlName="positiveLimitActive"
            >
            </ion-checkbox>

          </ion-item>

          <ion-list-header>
            <ion-label>Negative Limit</ion-label>
          </ion-list-header>
          <ion-item>

            <ion-icon
              slot="start"
              name="remove"
              (click)="increment('negativeLimit')"
            >
            </ion-icon>

            <ion-input
              required
              formControlName="negativeLimit"
              type="number"
              placeholder="0"
              (ionChange)="
                clamp('negativeLimit', 1);
                check('negativeLimitActive');
              "
            >
            </ion-input>

            <ion-checkbox
              slot="end"
              formControlName="negativeLimitActive"
            >
            </ion-checkbox>

          </ion-item>

          <ion-item
            [hidden]="!appState.vibrate"
            class="vibrate-checkbox"
          >
            <ion-icon slot="start" name="pulse"></ion-icon>
            <ion-label>Vibrate</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="vibrate"
            >
            </ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-icon
              slot="start"
              name="{{ (counter.locked) ? 'lock-closed-outline' : 'lock-open-outline' }}"
            ></ion-icon>
            <ion-label>Locked</ion-label>
            <ion-checkbox
              slot="end"
              formControlName="locked"
            >
            </ion-checkbox>
          </ion-item>

      </ion-list>

      <ion-button
        size="large"
        expand="full"
        appNotImplemented description="Add counter widget to home screen" issueId="2" on="click"
      >
        <ion-icon name="phone-portrait"></ion-icon>
        To Home Screen
      </ion-button>

  </form>
</ion-content>
