<ion-list>

  <ion-item
    button
    (click)="toggleReorder()"
  >
    <ion-icon
      slot="start"
      name="swap-vertical"
    ></ion-icon>

    <ng-template
      *ngIf="this.reorderGroup.disabled; then thenBlock else elseBlock"
    ></ng-template>
    <ng-template #thenBlock>Change Order</ng-template>
    <ng-template #elseBlock>Keep Order</ng-template>

  </ion-item>

  <ion-item
    button
    (click)="addCounter()"
  >
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    Add New Counter
  </ion-item>
</ion-list>
