<ion-content>
  <ion-list>
    <app-plus-minus-counter
      [minHeight]="45"
      [hideTitle]="true"
      [showDetailsOnClick]="false"
      [counter]="counter"
    ></app-plus-minus-counter>

    <ion-list-header>
      <ion-label>Actions</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="expand"></ion-icon>
      <ion-label>Fullscreen</ion-label>

      <ion-button
        *ngIf="counter.minusCount < 0"

        expand="full"
        color="danger"
        [routerLink]="['/fullscreen-counter', 'minus', counter.id]"
      >
        <ion-icon name="remove"></ion-icon>
      </ion-button>

      <ion-button
        *ngIf="counter.plusCount > 0"

        expand="full"
        color="success"
        [routerLink]="['/fullscreen-counter', 'plus', counter.id]"
      >
        <ion-icon name="add"></ion-icon>
      </ion-button>

    </ion-item>

    <ion-item-sliding>

      <ion-item>
        <ion-icon slot="start" name="refresh"></ion-icon>
        <ion-label>Reset</ion-label>
        <ion-icon slot="end" name="arrow-back"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="warning"
          (click)="reset()"
        >
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item>
        <ion-icon slot="start" name="trash"></ion-icon>
        <ion-label>Delete</ion-label>
        <ion-icon slot="end" name="arrow-back"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="danger"
          (click)="deleteCounter()"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding
      *ngIf="appState.developmentMode"
    >

      <ion-item>
        <ion-icon slot="start" name="shuffle"></ion-icon>
        <ion-label>Random Count Event</ion-label>
        <ion-icon slot="end" name="arrow-back"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          (click)="addRandomCountEvent()"
        >
          <ion-icon slot="icon-only" name="shuffle"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>


  </ion-list>
</ion-content>
