<ion-item-sliding>
  <ion-item>

    <ng-template [ngIf]="counter.minusCount < 0">
      <ion-button
        size="large"
        color="danger"
        (click)="countMinus()"
      >
      <div [ngSwitch]="counter.minusCount">
        <div *ngSwitchCase="-1">
          <ion-icon name="add"></ion-icon>
        </div>

        <div *ngSwitchDefault>
          {{counter.minusCount}}
        </div>

      </div>
      </ion-button>
    </ng-template>

    <ion-label class="ion-text-center">
      <h1>{{counter.title}}</h1>
      <h1>{{counter.count}}</h1>
    </ion-label>

    <ng-template [ngIf]="counter.plusCount > 0">
      <ion-button
        size="large"
        color="success"
        (click)="countPlus()"
      >
      <div [ngSwitch]="counter.plusCount">
        <div *ngSwitchCase="1">
          <ion-icon name="add"></ion-icon>
        </div>

        <div *ngSwitchDefault>
          +{{counter.plusCount}}
        </div>

      </div>
      </ion-button>
    </ng-template>

  </ion-item>

  <ion-item-options
    side="end"
    appNotImplemented description="Edit count events" issueId="8" on="ionSwipe"
  >
    <ion-item-option color="danger">
      <ion-icon
        slot="icon-only"
        name="trash"
        (click)="deleteCounter()"
      ></ion-icon>
    </ion-item-option>

    <ion-item-option
      color="warning"
      [routerLink]="['/counter-settings', counter.id]"
    >
      <ion-icon slot="icon-only" name="build"></ion-icon>
    </ion-item-option>

    <ion-item-option
      color="success"
      [routerLink]="['/counter-analytics', counter.id]"
    >
      <ion-icon slot="icon-only" name="analytics"></ion-icon>
    </ion-item-option>

    <ion-item-option
      expandable
      appNotImplemented description="Edit count events" issueId="8"
    >
      <ion-icon slot="icon-only" name="create" expandable></ion-icon>
    </ion-item-option>

  </ion-item-options>

</ion-item-sliding>
