<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="add-circle"></ion-icon>
      Count
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group
      (ionItemReorder)="reorder($event)"
    >
      <div *ngFor="let counter of counters">
        <app-plus-minus-counter [counter]="counter"></app-plus-minus-counter>
      </div>
    </ion-reorder-group>
  </ion-list>
</ion-content>
