<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="build"></ion-icon>
      {{counter.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button color="danger" text="Discard" icon=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="counterSettingsForm"
    (ngSubmit)="onSubmit()"
  >
      <ion-list>

          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input
              required
              formControlName="title"
              type="text"
              placeholder="my Counter"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">
              Plus Count
            </ion-label>
            <ion-input
              required
              formControlName="plusCount"
              type="number"
              placeholder="0"
              (ionChange)="clampMax('plusCount')"
            >
              <ion-icon slot="start" name="add"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">
              Minus Count
            </ion-label>
            <ion-input
              required
              formControlName="minusCount"
              type="number"
              placeholder="0"
              (ionChange)="clampMax('minusCount')"
            >
              <ion-icon slot="start" name="remove"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Positive wraparound</ion-label>
            <ion-checkbox
              slot="start"
              formControlName="positiveWrapAroundActive"
            >
            </ion-checkbox>
            <ion-input
              required
              formControlName="positiveWrapAround"
              type="number"
              placeholder="0"
              (ionChange)="clampMax('positiveWrapAround', 1)"
            >
              <ion-icon slot="start" name="add"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Negative wraparound</ion-label>
            <ion-checkbox
              slot="start"
              formControlName="negativeWrapAroundActive"
            >
            </ion-checkbox>
            <ion-input
              required
              formControlName="negativeWrapAround"
              type="number"
              placeholder="0"
              (ionChange)="clampMax('negativeWrapAround', 1)"
            >
              <ion-icon slot="start" name="remove"></ion-icon>
            </ion-input>
          </ion-item>

      </ion-list>

      <ion-button
        size="large"
        expand="full"
        color="success"
        type="submit"
        [disabled]="!counterSettingsForm.valid"
      >
        <ion-icon name="save"></ion-icon>
        Save
      </ion-button>

      <ion-button
        size="large"
        expand="full"
        appNotImplemented description="Add counter widget to home screen" issueId="2" on="click"
      >
        <ion-icon name="phone-portrait"></ion-icon>
        Add to Home Screen
      </ion-button>

  </form>
</ion-content>
