<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="heart"></ion-icon>
      Contribute
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <p>
        Thank you for contributing to this open source app.
        <ion-icon name="heart"></ion-icon>
        <ion-icon name="heart"></ion-icon>
        <ion-icon name="heart"></ion-icon>
      </p>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <ion-icon name="bug"></ion-icon>
        Report bug
      </ion-label>
    </ion-list-header>

    <ion-item>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewGithub('bug')">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewMail('bug')">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-list-header>
      <ion-label>
        <ion-icon name="construct-outline"></ion-icon>
        Request feature
      </ion-label>
    </ion-list-header>

    <ion-item>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewGithub('feature')">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewMail('feature')">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

    <ng-template [ngIf]="appState.directMonetization">
      <ion-list-header>
        <ion-label>
          <ion-icon name="cash"></ion-icon>
          Make donation
        </ion-label>
      </ion-list-header>

      <ion-item
        *ngFor="let contributor of contributors"
        (click)="openBrowser(contributor.donateUrl)"
        button
      >
        <ion-avatar slot="start">
          <img src="{{contributor.avatar}}">
        </ion-avatar>
        <ion-label position="fixed">
          <h3>{{contributor.name}}</h3>
          <p>{{contributor.description}}</p>
        </ion-label>
      </ion-item>
    </ng-template>

  </ion-list>
</ion-content>
