<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="heart"></ion-icon>
      Contribute
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <p>
        We are tracking bugs <ion-icon name="bug"></ion-icon> and features
        <ion-icon name="construct"></ion-icon> on Github <ion-icon name="logo-github"></ion-icon>.
        In case you don't have an account on there, you can also get in touch via email <ion-icon name="mail"></ion-icon>.
        <br><br>
        Thank you for you making this open source app a little bit better.
        <ion-icon name="heart"></ion-icon>
        <ion-icon name="heart"></ion-icon>
        <ion-icon name="heart"></ion-icon>
      </p>
    </ion-item>


    <ion-item>

      <ion-label position="stacked">
        <ion-icon name="bug"></ion-icon>
        Bug
      </ion-label>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewGithub('bug')">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewMail('bug')">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item>

      <ion-label position="stacked">
        <ion-icon name="construct"></ion-icon>
        Feature
      </ion-label>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewGithub('feature')">
              <ion-icon name="logo-github"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button size="large" expand="full" (click)="openNewMail('feature')">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item>

      <ion-label position="stacked">
        <ion-icon name="cash"></ion-icon>
        Donation
      </ion-label>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-button
              size="large"
              expand="full"
              (click)="openDonate()"
            >
              <ion-icon name="card"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </ion-item>

  </ion-list>
</ion-content>
