<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close" defaultHref="/counters"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="analytics"></ion-icon>
      {{ counter.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item [routerLink]="['/counter-analytics', counter.id, 'day-of-week-histogram']">
      <ion-avatar slot="start">
        <ion-icon name="calendar" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Day Of Week Histogram</h2>
        <p>Shows count events grouped by the the day of week.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
