<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close" defaultHref="/counters"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="analytics"></ion-icon>
      {{ counter.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label [routerLink]="['/counter-analytics', counter.id, 'day-of-week-histogram']">
        Day Of Week Histogram
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
