<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="/counters"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="analytics"></ion-icon>
      {{ counter.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let pageInfo of analyticsPageInfos"
              [routerLink]="['/counter-analytics', counter.id, pageInfo.link]">
      <ion-avatar slot="start">
        <ion-icon name="{{pageInfo.icon}}" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{pageInfo.title}}</h2>
        <p>{{pageInfo.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
