<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="settingsForm"
  >
    <ion-list>
      <app-not-implemented
        description="Select language"
        issueId="12"
      >
        <ion-item>
          <ion-icon slot="start" name="text"></ion-icon>
          <ion-label>Language</ion-label>
          <ion-select slot="end" placeholder="Select One">
            <ion-select-option value="english">English</ion-select-option>
            <ion-select-option value="german">German</ion-select-option>
            <ion-select-option value="french">French</ion-select-option>
          </ion-select>
        </ion-item>
      </app-not-implemented>

      <app-not-implemented
        description="Toggle dark mode"
        issueId="10"
      >
        <ion-item>
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>Dark Mode</ion-label>
          <ion-checkbox slot="end">
          </ion-checkbox>
        </ion-item>
      </app-not-implemented>

      <app-not-implemented
        description="Switch to left-handed mode"
        issueId="14"
      >
        <ion-item>
          <ion-icon slot="start" name="hand-left"></ion-icon>
          <ion-label>Left-handed mode</ion-label>
          <ion-checkbox slot="end">
          </ion-checkbox>
        </ion-item>
      </app-not-implemented>

      <ion-item>
        <ion-icon slot="start" name="code-outline"></ion-icon>
        <ion-label>Swipe counting</ion-label>
        <ion-checkbox
          required
          slot="end"
          formControlName="swipeCounting"
          [checked]="appState.swipeCounting"
          (ionChange)="changeSwipeCounting()"
        >
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pulse-outline"></ion-icon>
        <ion-label>Vibrate</ion-label>
        <ion-checkbox
          required
          slot="end"
          formControlName="vibrate"
          [checked]="appState.vibrate"
          (ionChange)="changeVibrate()"
        >
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pin-outline"></ion-icon>
        <ion-label>Record position</ion-label>
        <ion-checkbox
          required
          slot="end"
          formControlName="recordPosition"
          [checked]="appState.recordPosition"
          (ionChange)="changeRecordPosition()"
        >
        </ion-checkbox>
      </ion-item>

      <app-not-implemented
        description="Enable Advertisements / Disable Fuel"
        issueId="11"
      >
        <ion-item>
          <ion-icon slot="start" name="cash"></ion-icon>
          <ion-label>Enable Advertisements</ion-label>
          <ion-checkbox
            slot="end"
          >
          </ion-checkbox>
        </ion-item>
      </app-not-implemented>

      <ion-item>
        <ion-icon slot="start" name="construct-outline"></ion-icon>
        <ion-label>Disable not implemented</ion-label>

        <!--
          Exception: we use [checked] here, because
          the status of this checkbox might be changed by a
          not-implemented modal, from a not-implemented control
          on this page.
        -->
        <ion-checkbox
          required
          slot="end"
          formControlName="disableNotImplemented"
          [checked]="appState.disableNotImplemented"
          (ionChange)="changeDisableNotImplemented()"
        >
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="cloud-download-outline"></ion-icon>
        <ion-label>Update</ion-label>
        <ion-select
          formControlName="updateChannel"
          slot="end"
          placeholder="Select One"
          (ionChange)="changeUpdateChannel()"
        >
          <ion-select-option
            *ngFor="let updateChannel of updateChannels"
            [value]="updateChannel"
          >
            {{updateChannel}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <app-not-implemented
        description="Save and load backup"
        issueId="15"
      >
        <ion-item>
          <ion-icon slot="start" name="download"></ion-icon>
          <ion-label>Backup</ion-label>
          <ion-button
            expand="full"
            color="success"
          >
            Save
          </ion-button>

          <ion-button
            expand="full"
            color="danger"
          >
            Restore
          </ion-button>
        </ion-item>
      </app-not-implemented>

      <app-not-implemented
        description="Trigger a factory reset"
        issueId="16"
      >
        <ion-item-sliding>

          <ion-item>
            <ion-icon slot="start" name="trash"></ion-icon>
            <ion-label>Factory reset</ion-label>
            <ion-icon slot="end" name="arrow-back"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </app-not-implemented>

      <ion-item>
        <ion-icon slot="start" name="bug-outline"></ion-icon>
        <ion-label>Development Mode</ion-label>
        <ion-checkbox
          required
          slot="end"
          formControlName="developmentMode"
          [checked]="appState.developmentMode"
          (ionChange)="changeDevelopmentMode()"
        >
        </ion-checkbox>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
